h4 {
  font-family: 'Audiowide', cursive;
}

.btn {
  background-color: orangered;
  margin-bottom: 10px;
  width: 160px;
}

.btn:hover {
  background-color: orange;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  max-height: 100%;
}

#endModal {
  background-color: black;
}

canvas {
  font-family: 'Allerta Stencil', sans-serif;
}
