* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

main {
  background-image: url("../assets/deep-space.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

td {
  padding-bottom: 0;
  padding-top: 0;
}

th {
  width: 24%;
}

ul {
  height: 64px;
}

.btn {
  background-color: #483b36;
  margin-left: 10px;
  margin-right: 5px;
}

.btn:focus {
  background-color: grey;
}

.btn:hover {
  background-color: orange;
}

.leaderboardsTitle {
  font-family: 'Audiowide', cursive;
  margin: 0 auto;
}

.levelSelector {
  height: 500px
}
.modal {
  border: 5px solid black;
}

.opaque {
  opacity: .2;
}

.play {
  color: white;
  font-size: 80px;
  height: 80px;
  margin: 0 auto;
  margin-top: 10px;
}

.play:hover {
  color: orangered;
}

.title {
  font-family: 'Audiowide', cursive;
}

.username {
  margin-top: 5px;
}

::-webkit-input-placeholder {
  color: white;
  font-size: 15px;
  opacity: 1 !important;
}

:-moz-placeholder {
  color: white;
  font-size: 15px;
  opacity: 1 !important;
}

::-moz-placeholder {
  color: white;
  font-size: 15px;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: white;
  font-size: 15px;
}

#header {
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
}

#leaderboardsModal {
  bottom: 0;
  color: black !important;
  left: 3%;
  margin-top: 15px;
  max-height: 800px;
  position: fixed;
  right: 3%;
  width: auto;
}

#leaderboardsModalContent {
  background-color: darkgrey;
  height: 100%;
  overflow: scroll;
  padding: 20px;
}

#loginButton {
  background-color: #483b36;
  margin-top: 14px;
}

#loginButton:hover {
  background-color: orange;
}

#selectLevel {
  font-family: 'Audiowide', cursive;
  margin-top: 30px;
}

#selectLevel:hover {
  color: white;
}

#usernameLI, #passwordLI {
  background-color: #6B6B6B;
  border: 5px solid black;
  color: white;
  height: 100%;
  margin: 0;
  padding: 5px;
  width: 150px;
}

#passwordSU, #usernameSU, #passwordConfirm {
  border-bottom: 1px solid white;
  margin: 0 !important;
  padding: 0;
}

#signUp {
  background-color: orangered;
}

#signUp:hover {
  background-color: orange;
}

#signUpModal {
  background-color: #6B6B6B;
  color: white;
}

#userLabel {
  font-family: 'Audiowide', cursive;
  margin-top: 10px;
}
