* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

main {
  background-image: url("../assets/screenShotBackground.png");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

ul {
  height: 64px;
}

.btn {
  background-color: #483b36;
  margin-right: 5px;
  margin-left: 10px;
}

.btn:hover {
  background-color: orange;
}

#signUpModal {
  background-color: #6B6B6B;
  color: white;
}
.modal {
  border: 5px solid black;

}

.play {
  color: white;
  font-size: 80px;
  margin-top: 220px;
  height: 80px;
}

.play:hover {
  color: orangered;
}

.title {
  font-family: 'Audiowide', cursive;
}

::-webkit-input-placeholder {
  color: white;
  font-size: 15px;
  opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-size: 15px;
  opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;
  font-size: 15px;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: white;
  font-size: 15px;
}

#header {
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
}

#usernameLI, #passwordLI {
  background-color: #6B6B6B;
  border: 5px solid black;
  color: white;
  height: 100%;
  margin: 0;
  padding: 5px;
  width: 150px;
}

#passwordSU, #usernameSU, #passwordConfirm {
  border-bottom: 1px solid white;
  margin: 0 !important;
  padding: 0;
}

#signUp {
  background-color: orangered;
}

#signUp:hover {
  background-color: orange;
}

th {
  width: 24%;
}

#leaderboardsModalContent {
  background-color: darkgrey;
  overflow: scroll;
  padding: 20px;
}

.leaderboardsTitle {
  font-family: 'Audiowide', cursive;
  margin: 0 auto;
}

#leaderboardsModal {
    color: black !important;
    position: fixed;
    right: 3%;
    left: 3%;
    bottom: 0;
    width: auto;
    margin-top: 30px;
}

#userLabel {
  margin-top: 10px;
  font-family: 'Audiowide', cursive;
}

#loginButton {
  margin-top: 14px;
}
.opaque {
  opacity: .2;

.username {
  margin-top: 5px;
}
