* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
/*height: 100vh;
width: 100vw;*/
/*display: inline-block;*/
}

main {
  height: 100vh;
  width: 100vw;
  /*background-color: blue;*/
  background-image: url("../assets/screenShotBackground.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}
.modal-content {
  background-color: #6B6B6B;
  color: white;
}

#usernameLI, #passwordLI {
  border: 5px solid black;
  height: 100%;
  margin: 0;
  padding: 5px;
  color: white;
  background-color: #6B6B6B;
  padding: 0;
}

/*#usernameLI {
  height: 100%;
  margin: 5px;
  padding: 5px;
  background-color: white;
  padding: 0;
}*/

#passwordSU, #usernameSU, #passwordConfirm {
  padding: 0;
  margin: 0 !important;
  border-bottom: 1px solid white;
}

#header {
  padding-left: 10px;
  padding-right: 10px;
  /*display: flex;*/
  background-color: black;
}

/*#first_name {
  border-bottom: 1px solid blue;
}*/

#signUpModal {
  border: 5px solid black;
}

.input-field {
  /*background-color: darkgrey;*/
  /*border-bottom: 1px solid blue;*/
}
/*#small {
  padding: 0;
  height: 30px;
}*/

ul {
  height: 64px;
}

.play {
  font-size: 80px;
  color: white;
  margin-top: 220px;
}

.title {
  font-family: 'Audiowide', cursive;
}

.btn {
  margin-right: 5px;
  margin-left: 15px;
  background-color: #483b36;
}

.btn:hover {
  background-color: orange;
}

::-webkit-input-placeholder {
    color: white;
    font-size: 15px;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
    font-size: 15px;
    opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
    font-size: 15px;
    opacity: 1 !important;
}

:-ms-input-placeholder {
  font-size: 15px;
  color: white;
}

.leaderboards {
  margin-right: 200px;
}

#signUp {
  background-color: orangered;
}

#signUp:hover {
  background-color: orange;
}

.container {
  background-color: darkgrey;
  /*width: 500px;*/
  overflow: scroll;
  padding: 20px;
}

.leaderboardsTitle {
  font-family: 'Audiowide', cursive;
  margin: 0;
}

th {
  width: 24%;
  /*padding: 20px;*/
}
